{% assign cancellation = data.policy.cancellation %}

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://s3-eu-west-1.amazonaws.com/socotra-static-assets-temp/new-styles.css">
</head>

<table width="100%" class="header">
  <tr>
    <td>
      <p class="header-contact">
          Acme Insurance Co.<br>
          33 New Montgomery St<br>
          San Francisco, CA<br>
          +1 415 555 5555<br>
          www.acmeinsure.com
      </p>
    </td>
    <td>
      <img src="http://i.imgur.com/cCB0v64.png" title="Acme Insurance Co" class="logo" height="72px">
    </td>
  </tr>
</table>

<h1>Policy Canceled</h1>

Policy {{ data.policy.display_id }} is canceled effective {{ cancellation.effective_timestamp | timestamp_millis_print: "MMM dd, YYYY" }}.

<br><br><br><br>

<b>Authorized on</b> {{ data.policy.updated_timestamp | timestamp_millis_print: "MMM dd, YYYY" }}

<br>

<footer>Acme - Keep your loved ones secure.</footer>
